<div class="container-fluid">
	<div class="row flex">
		<div class="col-2 border">
			Test
		</div>
		<div class="col-6 border">
			<table border="2">
				<tr *ngFor="let cells of map.mapLayout;" class="" width="20" height="20">

					<td id="cell.id" *ngFor="let cell of cells;" class="cell" (click)="selectNewCell(cell.x, cell.y)" [ngClass]="cell.cellClicked ? 'clicked' : 'notClicked'">
						<div class="topRightCorner"><span style="position: relative">{{cell.x}},{{cell.y}}</span></div>
					</td>
				</tr>

			</table>
		</div>

		<div class="col-4 border">
			Test
		</div>
	</div>
</div>
